.file-tree li {
  padding-left: 20px;
  cursor: pointer;
}

.file-tree .folder > div > span.icon {
  position: relative;
  top: 2px;
}

.file-tree .file.selected {
  color: white;
  background-color: #3298dc;
}

.file-tree .file .icon {
  color: #3298dc;
}

.file-tree .file.selected .icon {
  color: white;
}
