.html-markdown h1 { font-size: 2.5rem; }
.html-markdown h2 { font-size: 2.5rem; }
.html-markdown h3 { font-size: 2rem; }
.html-markdown h4 { font-size: 1.5rem; }
.html-markdown h5 { font-size: 1.25rem; }
.html-markdown h6 { font-size: 1rem; }
.html-markdown h7 { font-size: 0.75rem; }

.html-markdown ul {
  margin-left: 25px !important;
  list-style: initial !important;
}

.html-markdown li {
  margin-left: 20px !important;
}

.html-markdown table td, .html-markdown table th {
  padding: 5px 10px !important;
  border: 1px solid #999 !important;
}

.html-markdown table thead {
  background-color: #f5f5f5 !important;
  font-weight: bold !important;
}